* {
	padding:0;
	margin:0;
	font-family: 'Quicksand', sans-serif;
}
body {
	background-color: #f8f8f8;
}
a {
	color: inherit;
	text-decoration: none;
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}

#bg-login {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}
.box-login {
	width: 300px;
	min-height: 200px;
	border:1px solid #ccc;
	background-color: #fff;
	padding:15px;
	box-sizing: border-box;
}
.box-login h2 {
	text-align: center;
	margin-bottom: 15px;
}
.input-control {
	width:100%;
	padding:10px;
	margin-bottom: 15px;
	box-sizing: border-box;
}
.btn {
	padding:8px 15px;
	background-color: #000000;
	color: #fff;
	border:none;
	cursor: pointer;
}
header {
	background-color: #000000;
	color: #fff;
}
header h1 {
	float: left;
	padding:10px 0;
}
header ul {
	float: right;
}
header ul li {
	display: inline-block;
}
header ul li a {
	padding:20px 0 20px 15px;
	display: inline-block;
}
footer {
	padding: 25px 0;
}
.container {
	width: 80%;
	margin:0 auto;
}
.container:after {
	content: '';
	display: block;
	clear: both;
}
.section {
	padding: 25px 0;
}
.box {
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 15px;
	box-sizing: border-box;
	margin:10px 0 10px 0;
}
.box:after {
	content: '';
	display: block;
	clear: both;
}
.search {
	padding:15px 0;
	background-color: #fff;
	border:1px solid #ccc;
	text-align: center;
}
.search input[type=text] {
	width: 60%;
	padding: 6px;
}
.footer {
	padding:25px 0;
	background-color: #000;
	color: #fff;
	text-align: left;
}
.footer p {
	margin-bottom: 10px;
}
.footer small {
	margin-top: 25px;
	display: inline-block;
}
.col-2 {
	width: 50%;
	min-height: 200px;
	padding: 10px;
	box-sizing: border-box;
	float: left;
}
.col-2 h3 {
	margin-bottom: 10px;
}
.col-2 h4 {
	color: #000000;
}
.col-2 p {
	margin: 15px 0;
	text-align: justify;
	line-height: 25px;
	font-size: 14px;
}